.rightcontent p{
      display: inline-block;
      font-size: 13px;
      font-family: Arial; 
      font-weight: bold;
    }
    .rightcontent p:hover{
      /*background-color: #3e8e41;*/
      text-decoration: underline;
      color:#C46868;
      cursor: pointer;
    }

    .rightcontent{
      margin-top: 7px;
      margin-left: 24px;
    }

    
    .buttondrop {
      padding: 0;
      display: inline-block;
    }
    .buttondrop p:hover {
      /*background-color: #3e8e41;*/
      text-decoration: underline;
      color:#C46868;
      cursor: pointer;
    }

