<html lang="en" >
   <head>
      <meta charset="utf-8"/>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script language="javascript">
         angular
            .module('firstApplication', ['ngMaterial'])
            
      </script>      
   </head>
   <body ng-app="firstApplication"> 
      
      <!-- ////////////////////////////////////////////////////////////////toolbar -->
      
         <md-content >
            <md-toolbar style="background-color: white; height: 110px;  border-bottom: 3px solid #7CA032;" >

               <div class="md-toolbar-tools" style="margin-top:20px; padding-left:65px; ">

                  
                  <img src="http://www.centroeure.org.mx/images/template/centro_eure.png" style="width:195px;height:50px; ">
                  <div class="rightcontent">
                    <p  class="btn btn-2" style="margin-left: 20px;">HOME</p>
                    <md-menu-bar class="buttondrop" style="margin-left: 35px;">
                     <md-menu>
                        <p  class="btn btn-2" ng-click="$mdOpenMenu()" >QUIENES SOMOS▾</p>
                        <md-menu-content >
                           <md-menu-item>
                              <p>link 1</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                           <md-menu-item>
                              <p>link 2</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                              <p>link 3</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                        </md-menu-content>
                     </md-menu>
                    </md-menu-bar>

                    <p class="btn btn-2"  style="margin-left: 24px;">SERVICIOS</p>
                    <p class="btn btn-2"  style="margin-left: 31px;">PROYECTOS</p>
                    <md-menu-bar class="buttondrop" style="margin-left: 32px;">
                     <md-menu>
                        <p  class="btn btn-2" ng-click="$mdOpenMenu()" >PUBLICACIONES▾</p>
                        <md-menu-content>
                           <md-menu-item>
                              <p>link 1</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                           <md-menu-item>
                              <p>link 2</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                              <p>link 3</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                        </md-menu-content>
                     </md-menu>
                    </md-menu-bar>
                    <md-menu-bar class="buttondrop" style="margin-left: 31px;">
                     <md-menu>
                        <p  class="btn btn-2" ng-click="$mdOpenMenu()" >BIBLIOTECA▾</p>
                        <md-menu-content>
                           <md-menu-item>
                              <p>link 1</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                           <md-menu-item>
                              <p>link 2</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                              <p>link 3</p>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                        </md-menu-content>
                     </md-menu>
                    </md-menu-bar>
                  </div>

                  <md-button aria-label="More"  style="background-color: #A51716;  margin-left: 125px; margin-top:8px; ">
                      <p style="font-size: 14px; font-family: Arial; font-weight: bold; margin: 2px 15px; color: white;">CONTACTO</p>
                  </md-button>
                  <img src="http://www.clipartbest.com/cliparts/LiK/rGj/LiKrGj84T.png" style="width:25px;height:25px; margin-left:16; "/>

               </div>

            </md-toolbar>
           
         </md-content>   
      
      <!-- ////////////////////////////////////////////////////////////////toolbar end-->


        <md-content  style="  background-color: gray; font-family: Verdana; ">
          <!-- <img src="http://www.msf-me.org/en/media/get/20100902_img-test.jpg" style="position: absolute; width: 100%; height: 590px; margin-top: 90px; z-index: -1;"/> -->
          <div layout="row"  layout-align="space-between center" >
            <div>
              <md-button aria-label="More"  style="background-color: #7CA427;   margin-top:160;">
                <i class="material-icons">navigate_before</i>
              </md-button>
            </div>

            <div  style=" color:white; margin-top:205px;  " class="layout-align-center-center layout-column">
              <h1 style="margin:0; font-size:58px">Programa Metropolitano</h1>
              <h2 style="margin:0; margin-top:10px; font-size:43px;">para Mérida Y sus zonas conurbadas</h2>
              <div style="text-align:center;  font-size:25px; margin-top:34px; padding: 0 120px">
                 <p style="margin:0">Identifica los grandes problemas y potenciales de la zona y propone</p> 
                 <p style="margin:0; margin-top:5px">una estrategia integrada y de largo plazo para su desarrollo asi como </p>
                 <p style="margin:0; margin-top:5px">los proyectos estrategicos y los instrumentos para ejecutarla, desde la</p>
                 <p style="margin:0; margin-top: 6px">optica de la sustentabilidad</p>
              
              </div>
              <md-button aria-label="More"  style="background-color: #A51716;   margin-top:27px;">
                <p style="font-size: 14px; font-family: Arial; font-weight: bold; margin: 8px 39px; color: white;" >LEER MÁS</p>
              </md-button>
            </div>

            <div>
              <md-button aria-label="More"  style="background-color: #7CA427;  margin-top:160;">
                <i class="material-icons">navigate_next</i>
              </md-button>
            </div>
            
          </div>
              
            
        </md-content>



   </body>

</html>

<style>
    





    .rightcontent{
      margin-top: 7px;
      margin-left: 24px;
    }

    
    .buttondrop {
      padding: 0;
      display: inline-block;
    }


     .btn {
       display: inline-block;
      font-size: 13px;
      font-family: Arial; 
      font-weight: bold;

       color:#535353;
       cursor: pointer;
       transition-duration: 0.4s;
       
     }

    .btn-2:after,
    .btn-2:before {
      backface-visibility: hidden;
      border-bottom: 2px solid #A51716;
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }
    
    .btn-2:hover:after,
    .btn-2:hover:before {
      backface-visibility: hidden;
      border-color: #A51716;
      transition: width 350ms ease-in-out;
      width: 100%;
    }
    .btn-2:hover:before {
      width: 0%;
    }

    .btn:hover{
      color:#A51716;
    }
</style>
