<section layout="row" layout-align="left" class="head">	 
<div id="Euron">
<img src="images/Eure.png" alt="I'm Euron">	
</div>
 <p class="inicio">HOME</p>
 <div class="dropdown">
 <p class="inicio">QUIÉNES SOMOS▼</p>
 <div class="dropdown-content">
    <a href="">Link 1</a>
    <a href="">Link 2</a>
    <a href="">Link 3</a>
  </div>
 </div>
 <p class="inicio">SERVICIOS</p> 
 <p class="inicio">PROYECTOS</p> 
  <div class="dropdown">
 <p class="inicio">PUBLICACIONES▼</p> 
 <div class="dropdown-content">
    <a href="">Link 1</a>
    <a href="">Link 2</a>
    <a href="">Link 3</a>
  </div>
 </div>
  <div class="dropdown">
 <p class="inicio">BIBLIOTECA▼</p> 
<div class="dropdown-content">
    <a href="">Link 1</a>
    <a href="">Link 2</a>
    <a href="">Link 3</a>
  </div>
 </div>
<md-button id="contacto">CONTACTO</md-button>  
<div id="search">
<img src="images/search.png">	
</div>
  </section>         
  <section class="body">
	<img src="images/map.png" id="map">
  </section>

<section class="body2">
	<h1>hola bores</h1>
</section>